body
{
}
h1
{
	text-align: center;
}
.admin
{
	background-color: #fff;
	padding: 50px;
	border-radius: 10px;
}
.help-inline
{
	color: red;
}


header
{
    background-color: rgba(0,0,0,0.88);
    height: 70px;
    padding-top: 15px;
    font-size: 17px;
    width: 1000px;
    position: fixed;
    top: 0;
    z-index: 10;
    margin-left: 183px;
}
header span
{
	color: yellow;
}
header h1
{
	display: flex;
	flex-flow: row;
	float: left;
	color: white;
	margin-top: 1px;
	margin-left: 50px;
}
nav ul
{
	list-style: none;
	margin-right: 20px;
	float: right;
}
nav ul li
{
	display: inline-block;
	margin-right: 25px;
	
}
nav ul li:hover
{
	background-color: yellow;
}
nav ul li a
{
	text-transform: none;
	text-decoration: none;
	color: white;
}